{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <div class="align-content-center">
            <div>
            <span>
                Nom de la sortie :
            </span>
                <h1>{{ hangout.name }}
                    {% if hangout.state.label is same as('CANCELLED') %}
                        <br>
                        <div style="color: red">SORTIE ANNULEE</div>
                    {% endif %}
                </h1>
            </div>
            <hr>

            <section class="grid">

                <div>

                    <div class="grid">
                        <div>
                            <span>Date et heure de la sortie :</span>
                            <h6>{{ hangout.startingDateTime | date }}</h6>
                        </div>

                        <div>
                            <span>Date limite d'iscription :</span>
                            <h6>{{ hangout.lastSubmitDate | date }}</h6>
                        </div>
                    </div>
                    <div class="grid">
                        <div>

                    <span>
                    Nr des places :
                    </span>
                            <h6>{{ hangout.maxParticipant }}</h6>
                        </div>
                        <div>
                            <span>Durée :</span>
                            <h6>{{ hangout.length | date('H:i') }}</h6>
                        </div>
                    </div>
                    <div>
                        <span>Description et infos :</span>
                        <h6 {% if hangout.state.label is same as('CANCELLED') %} style="color: red"{% endif %}>{{ hangout.detail }}</h6>
                    </div>

                    <div>
                    {% if is_granted('POST_MODIFY', hangout ) %}
                        <a href="{{ path('hangout_modify', {'id' : hangout.id}) }}">
                            <button>Modifier</button>
                        </a>
                    {% endif %}
                    </div>

                </div>
                <div>
                    <div class="grid">
                        <div>
                            <span>Campus :</span>
                            <h6>{{ hangout.campus.name }}</h6>
                        </div>
                        <div>
                            <span>Lieu :</span>
                            <h6>{{ hangout.location.name }}</h6>
                        </div>
                    </div>
                    <div class="grid">
                        <div>
                            <span>Rue :</span>
                            <h6>{{ hangout.location.street }}</h6>
                        </div>
                        <div>
                            <span>Code Postal :</span>
                            <h6>{{ hangout.location.city.postalCode }}</h6>
                        </div>
                    </div>
                    <div class="grid">
                        <div>
                            <span>Latitude :</span>
                            <h6>{{ hangout.location.latitude }}</h6>
                        </div>
                        <div>
                            <span>Longitude :</span>
                            <h6>{{ hangout.location.longitude }}</h6>
                        </div>
                    </div>
                    <h4>Liste des participants inscrits</h4>
                    <div style="max-height: 200px; max-width: 500px; overflow-y: auto" >
                        <table class="striped">
                            <thead>
                            <tr>
                                <th>Pseudo</th>
                                <th>Nom</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for user in hangout.subscriberLst %}
                                <tr>
                                    <td>
                                        {{ user.username }}
                                    </td>
                                    <td>
                                        {{ user.firstname }} {{ user.lastname }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block title %}

{% endblock %}

