{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="filters">
            {{ form_start(filterForm) }}
            <div>
                {{ form_row(filterForm.campus) }}
            </div>
            <div>
                {{ form_row(filterForm.name) }}
            </div>
            <div>
                {{ form_row(filterForm.start) }}
                {{ form_row(filterForm.end) }}
            </div>
            <div>
                {{ form_row(filterForm.state) }}
            </div>

            <div class="checkboxes">
                {{ form_row(filterForm.isOrganizer) }}
                {{ form_row(filterForm.isRegistered) }}
                {{ form_row(filterForm.isNotRegistered) }}
                {{ form_row(filterForm.isPast) }}
            </div>

            <input type="button" value="Rechercher">

            {{ form_end(filterForm) }}
        </div>

        <h2>Résultats des sorties filtrées</h2>

        <table class="striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Campus</th>
                <th>État</th>
                <th>Organisateur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if hangouts is empty %}
                <tr>
                    <td colspan="5">Aucune sortie trouvée.</td>
                </tr>
            {% else %}
                {% for hangout in hangouts %}
                    <tr>
                        <td>{{ hangout.name }}</td>
                        <td>{{ hangout.startingDateTime|date('d/m/Y H:i') }}</td>
                        <td>{{ hangout.campus.name }}</td>
                        <td>{{ hangout.state.label }}</td>
                        <td>{{ hangout.organizer.firstname }}</td>
                        <td>
                            <a href="{{ path('hangout_subscribe', {'id': hangout.id}) }}" class="contrast no-underline">S'inscrire</a><br>
                            <a href="{{ path('hangout_unsubscribe', {'id': hangout.id}) }}" class="contrast no-underline">Se désister</a>
                        </td>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <div>

            <a class="no-underline" href="{{ path('hangout_add') }}"><button class="contrast">Créer une sortie</button></a>

        </div>

    </div>
{% endblock %}
